*.pyc
/__pycache__/
lib/__pycache__/
newTest/__pycache__/
newTest/lib/__pycache__/
.DS_Store
report/main.aux
report/main.lof
report/main.log
report/main.lot
report/main.maf
report/main.mtc
report/main.mtc0
report/main.out
report/main.synctex.gz
report/main.toc
report/report.aux
report/report.lof
report/report.log
report/report.lot
report/report.maf
report/report.mtc
report/report.mtc0
report/report.out
report/report.synctex.gz
report/report.toc
